* {
    box-sizing: border-box;
    
}





.containerheader{
 
}


.containermain {
    display: grid;
    grid-template-columns: repeat(1,20rem);
    grid-auto-rows: 120px;
    row-gap: 1%;
  

}

.box1{
    grid-column: 1;
    grid-row: 1;
    background-color: black;
    


}

.box2{
    grid-column: 1;
    grid-row: 2;
    background-color: black;
}

.box3{
    grid-column: 1;
    grid-row: 3;
    background-color: black;
}

.box4{
    grid-column: 1;
    grid-row: 4;
    background-color: black;
}

.box5{
    grid-column: 1;
    grid-row: 5;
    background-color: black;
}

.box6{
    grid-column: 1;
    grid-row: 6;
    background-color: black;
   
}

.containermain2 {
    background-color: yellow;
    height: 48rem;
    width: 20rem;
   
    
    

}

.mainbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;

}

@media screen and (max-width: 600px) {
    .mainbox {
      display: flex;
      flex-direction: column;
    
    }

    .containerheader{
        display: flex;
        flex-direction: column;
    }

    
  }
